#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* App.css */

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background:url(https://fastly.picsum.photos/id/1053/1600/900.jpg?hmac=8L3GdwaSRXugQvYyOHe8oajwVZNHdiaL5axwESgoKHY);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.container {
  background-color: #0c0505;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Título */
h1 {
  color: #4CAF50;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos para os inputs */
input[type="number"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="number"]:focus {
  outline: none;
  border-color: #4CAF50;
}

/* Botão de calcular */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Resultado */
.resultado {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultado p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.resultado h2 {
  color: #333;
  margin-bottom: 10px;
}
